Repository LionOfGraphs/log, pull requests merged in 2023-11, with the labels that each got.

#5 API Gateway and gRPC client
  services/gateway/justfile
  services/gateway/requirements.dev.txt
  services/gateway/server.py
  services/user/__init__.py
  services/user/justfile
  services/user/user.proto
Labels: API Gateway, WIP

#10 User info endpoints implemented
  services/user/database.py
  services/user/justfile
  services/user/main.py
  services/user/model.py
  services/user/server.py
  services/user/service.py
  services/user/user.proto
  tests/integration/test_user.py
Labels: Authentication

#12 Test user service in integration
  services/user/database.py
  services/user/dbinit-down.sql
  services/user/dbinit-up.sql
  services/user/justfile
  services/user/main.py
  services/user/user_test.py
  tests/integration/test_user.py
Labels: User Service

#13 Add permission check for auth interceptor
  services/user/auth/interceptors.py
  services/user/dbinit-up.sql
  services/user/main.py
  services/user/service.py
  services/user/user.proto
Labels: User Service
